<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sty.ne.binder.sample.server">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 是否能被系统实例化   是否能被其它应用隐式调用 应用程序需要使用该服务的话需要自动创建名字叫remote_server的进程-->
        <service android:name=".service.LoginService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_server">
            <intent-filter>
                <action android:name="Binder_Server_Action"/>
            </intent-filter>
        </service>
    </application>

</manifest>